footer#footer( role="contentinfo" )
  ul.f-aside
    li
      a( href="#lien1" )
        | Lien 1
    li
      a( href="#lien2" )
        | Lien 2

  ul.f-actions
    li
      div.sound
        button.muter
          span ajuster le volume
    li
      button.size
        span modifier l'affichage
    li.quality
      button.sd( type="button" )
        | sd
      button.md( type="button" )
        | md
      button.hd( type="button" )
        | hd